{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 --}}

 <div>
    <h2>Successfully Logged Out</h2>
    <a href="/">Back to Home Page</a>
</div>